.users {
  display: flex;
  list-style: none;
  flex-direction: column;
  border: 1px solid var(--inverted-bg-color);

}

.user {
  border: 1px solid;
  display: flex;
  justify-content: space-between;
  padding: 0 5px ;
}
